<div>
    <h2 id="page-heading">
        <span jhiTranslate="hipsterfoxApp.salary.home.title">Salaries</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-salary" [routerLink]="['/salary/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="hipsterfoxApp.salary.home.createLabel">
            Create new Salary
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="salaries">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="mentorId"><span jhiTranslate="hipsterfoxApp.salary.mentor">Mentor</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="sum"><span jhiTranslate="hipsterfoxApp.salary.sum">Sum</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="dateFrom"><span jhiTranslate="hipsterfoxApp.salary.dateFrom">Date From</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="dateTo"><span jhiTranslate="hipsterfoxApp.salary.dateTo">Date To</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="paidDate"><span jhiTranslate="hipsterfoxApp.salary.paidDate">Paid Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let salary of salaries ;trackBy: trackId">
                <td><a [routerLink]="['/salary', salary.id, 'view' ]">{{salary.id}}</a></td>
                <td>
                    <div *ngIf="salary.mentorId">
                        <a [routerLink]="['../mentor', salary.mentorId , 'view' ]" >
                            {{salary.mentorFirstName}} {{salary.mentorLastName}}
                        </a>
                    </div>
                </td>
                <td>{{salary.sum.amount + ' ' + salary.sum.currency}}</td>
                <td>{{salary.dateFrom | date:'mediumDate'}}</td>
                <td>{{salary.dateTo | date:'mediumDate'}}</td>
                <td>{{salary.paidDate | date:'mediumDate'}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/salary', salary.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/salary', salary.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'salary/'+ salary.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="salaries && salaries.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
