<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-course-heading" jhiTranslate="hipsterfoxApp.course.home.createOrEditLabel">Create or edit a Course</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!course.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="course.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hipsterfoxApp.course.name" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                        [(ngModel)]="course.name" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hipsterfoxApp.course.image" for="field_image">Image</label>
                    <div>
                        <img [src]="'data:' + course.imageContentType + ';base64,' + course.image" style="max-height: 100px;" *ngIf="course.image" alt="course image"/>
                        <div *ngIf="course.image" class="form-text text-danger clearfix">
                            <span class="pull-left">{{course.imageContentType}}, {{byteSize(course.image)}}</span>
                            <button type="button" (click)="clearInputImage('image', 'imageContentType', 'fileImage')" class="btn btn-secondary btn-xs pull-right">
                                <fa-icon [icon]="'times'"></fa-icon>
                            </button>
                        </div>
                        <input type="file" id="file_image" (change)="setFileData($event, course, 'image', true)" accept="image/*" jhiTranslate="entity.action.addimage"/>
                    </div>
                    <input type="hidden" class="form-control" name="image" id="field_image"
                        [(ngModel)]="course.image" />
                    <input type="hidden" class="form-control" name="imageContentType" id="field_imageContentType"
                        [(ngModel)]="course.imageContentType" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hipsterfoxApp.course.description" for="field_description">Description</label>
                    <input type="text" class="form-control" name="description" id="field_description"
                        [(ngModel)]="course.description" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hipsterfoxApp.course.emailTemplate" for="field_emailTemplate">Email Template</label>
                    <input type="text" class="form-control" name="emailTemplate" id="field_emailTemplate"
                        [(ngModel)]="course.emailTemplate" />
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving"
                        class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
