<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-client-heading" jhiTranslate="hipsterfoxApp.client.home.createOrEditLabel">Create or edit a Client</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!client.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="client.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hipsterfoxApp.client.firstName" for="field_firstName">First Name</label>
                    <input type="text" class="form-control" name="firstName" id="field_firstName"
                        [(ngModel)]="client.firstName" required/>
                    <div [hidden]="!(editForm.controls.firstName?.dirty && editForm.controls.firstName?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.firstName?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hipsterfoxApp.client.lastName" for="field_lastName">Last Name</label>
                    <input type="text" class="form-control" name="lastName" id="field_lastName"
                        [(ngModel)]="client.lastName" required/>
                    <div [hidden]="!(editForm.controls.lastName?.dirty && editForm.controls.lastName?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.lastName?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hipsterfoxApp.client.patronymic" for="field_patronymic">Patronymic</label>
                    <input type="text" class="form-control" name="patronymic" id="field_patronymic"
                        [(ngModel)]="client.patronymic" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hipsterfoxApp.client.phone" for="field_phone">Phone</label>
                    <input type="text" class="form-control" name="phone" id="field_phone"
                        [(ngModel)]="client.phone" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hipsterfoxApp.client.email" for="field_email">Email</label>
                    <input type="text" class="form-control" name="email" id="field_email"
                        [(ngModel)]="client.email" required email/>
                    <div [hidden]="!(editForm.controls.email?.dirty && editForm.controls.email?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.email?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                    <div [hidden]="!(editForm.controls.email?.dirty && editForm.controls.email?.errors && editForm.controls.email?.value)">
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.email?.errors" jhiTranslate="entity.validation.incorrectEmail">
                            This email is invalid.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hipsterfoxApp.client.skype" for="field_skype">Skype</label>
                    <input type="text" class="form-control" name="skype" id="field_skype"
                        [(ngModel)]="client.skype" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hipsterfoxApp.client.country" for="field_country">Country</label>
                    <input type="text" class="form-control" name="country" id="field_country"
                        [(ngModel)]="client.country" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hipsterfoxApp.client.city" for="field_city">City</label>
                    <input type="text" class="form-control" name="city" id="field_city"
                        [(ngModel)]="client.city" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hipsterfoxApp.client.experience" for="field_experience">Experience</label>
                    <input type="text" class="form-control" name="experience" id="field_experience"
                        [(ngModel)]="client.experience" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hipsterfoxApp.client.note" for="field_note">Note</label>
                    <input type="text" class="form-control" name="note" id="field_note"
                        [(ngModel)]="client.note" />
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
