<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{email.activation.title}">JHipster activation</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="shortcut icon" th:href="@{|${baseUrl}/favicon.ico|}" />
</head>
<body>
<p>
    <span th:text="${client.firstName}">, приветствуем. </span>
</p>

<p>Начнём? Для начала небольшой инструктаж.</p>

<p>1. Мы все общаемся на ты - Так принято во всех IT компаниях.</p>

<p>2. Задачи выдаёт и проверяет ментор.</p>

<p>После выполнения задания своего ментора (и только его) надо указываться в качестве Assignee в Merge Request.</p>


<p>3. Твоим личным ментором будет  <span th:text="|${mentor.firstName} ${mentor.lastName}|">.</span></p>


<p>Тебе направлено приглашение в Slack. Регистрируйся, создавай там профиль, добавляй в Slack (через Direct Messages)
    <span th:text="|{mentor.firstName} ${mentor.lastName}|"></span>. Знакомься. Настраивай коммуникацию.</p>


<p>4. Зарегистрируйся на <a href="http://git.foxminded.com.ua">git.foxminded.com.ua</a> и
    <a href="https://bit.ly/2QIUsbQ">bit.ly/2QIUsbQ</a></p>


<p>5. Сообщи ментору свой логин (имя фамилию) указанные в lms и попроси добавить к курсу. После этого будет доступна
    вводная информация и задания.</p>


<p>К проекту нужно добавлять только СВОЕГО ментора, если потребуется проверка другого – добавить его позже.</p>


<p>6. По всем непонятным вопросам (теория или практика) обращаться к ментору. По правилу 15 минут – 15 минут мучаешься
    пытаясь разобраться сам (с использованием гугла). Потом идёшь спрашивать совета.</p>


<p>7. Всю литературу читаешь по правилу Парето: 20 на 80. Оно состоит в следующем – 20% усилий дают 80% результата.
    У нас нет миллиона тон времени, чтобы читать ВСЕ. ВСЕГО – слишком много. Поэтому учись сразу читать только 20% от
    любого документа, который к тебе попадает.</p>

<p>8. Программист – существо коллективное. Вы все ОБЯЗАНЫ общаться в общем чате в Slack. Спрашивать совета, показывать
    друг другу свои решения и вообще – помогать друг другу. Тот, кто не умеет общаться с коллегами – НЕ станет программистом.
    Да, подсматривать и пользоваться чужими наработками не только не возбраняется, а всячески поощряется.</p>


<p>9. Услуги предоставляются на условиях публичной Оферты <a href="http://foxminded.com.ua/offerta/">foxminded.com.ua/offerta</a> </p>


<p>10. По окончании тестового периода, начинается он <span th:text="${contract.startDate}"></span> и заканчивается
    <span th:text="${contract.endDate}"></span>, нужно определиться. При    положительном решении необходимо произвести
    предоплату на реквизиты указанные в Оферте.</p>

<p>
    Твой тариф* - <span th:text="${contract.price}"></span>
</p>

<p>Успехов в обучении!</p>

<p>*Стоимость в гривне указана для резидентов Украины.
    Стоимость для нерезедентов Украины и студентов, которые оплачивают обучение из других стран, стоимость обучения составляет:
    Менторинг — $140, Проект — $160, Индивидуальная программа — $280 </p>
<br/>

<p>
    <span th:text="#{email.activation.text2}">Regards, </span>
    <br/>
    <em th:text="#{email.signature}">JHipster.</em>
</p>
</body>
</html>
