<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{email.activation.title}">JHipster activation</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="shortcut icon" th:href="@{|${baseUrl}/favicon.ico|}" />
</head>
<body>
<p>
    <span th:text="${client.firstName}">, здравствуй! </span>
</p>

<p>Добро пожаловать в нашу команду. У нас дружелюбная и продуктивная атмосфера. Вместе мы будем знакомиться, учиться и
    работать с IT сферой.</p>

<p>Твой ментор <span th:text="|${mentor.firstName} ${mentor.lastName}|">.</span></p>
<p>Skype: <span th:text="${mentor.skype}">.</span></p>
<p>E-mail: <span th:text="${mentor.email}">.</span></p>

<p>Для учебы:
Программа состоит из практических заданий, которые тебе необходимо будет выполнять. Задания проверяет ментор.
    Теоретические материалы ты изучаешь самостоятельно. Профильную литературу и видео можно найти в интернете, а также
    получить рекомендательный список для изучения и ответы на вопросы у твоего ментора.</p>
<ol>
    <li>1. Добавь ментора в Skype.</li>
    <li>2. Получи доступ к заданию.</li>
        <ol>
            <li>2.1 Для этого зарегистрируйся на сайте LMS.FoxmindEd.</li>
            <li>2.2 Сообщи ментору свой логин (имя фамилию) указанные в LMS и попроси добавить к курсу. Задание будет доступно после
                    того, как тебя добавят к курсу.</li>
        </ol>
    <li>3. Выполни задание и загрузи его в Google Docs.</li>
    <li>4. Дай доступ к заданию в Google Docs ментору (добавь его с помощью эмейла  <span th:text="${mentor.email}">.</span>). Пока он не проверит выполненное задание, ты не сможешь перейти к следующему заданию.</li>
    <li>5. Ментор регулярно проводит видео звонки по Skype. Запишись на свободное время в Google Календарь для обсуждения заданий, интересующих тем и твоих вопросов связанных с обучением. Для того, чтобы общение было продуктивным, проинформируй ментора о событии (записи) через Skype.</li>
</ol>
<p>Просим тебя учесть, твой ментор профессионал своего дела, работающий практик, поэтому не трать его время зря и готовься к общению тщательно.</p>

<p>Для нетворкинга:
    Мы используем программу Slack для профессионального общения. Здесь ты сможешь познакомиться со студентами и менторами с других наших учебных направлений.</p>

<p>Тебе выслано приглашение в Slack.</p>

<p>Для оплаты:

Услуги предоставляются на условиях публичной Оферты.
    По окончании тестового периода, начинается он <span th:text="${contract.startDate}"></span> и заканчивается
    <span th:text="${contract.endDate}"></span>, нужно определиться. При положительном решении необходимо произвести предоплату на реквизиты указанные в Оферте.</p>

<p>
    Твой тариф* - <span th:text="${contract.price}"></span>
</p>

<p>Успехов в обучении!</p>

<p>*Стоимость в гривне указана для резидентов Украины.
    Стоимость для нерезедентов Украины и студентов, которые оплачивают обучение из других стран, стоимость обучения составляет:
    Менторинг — $140, Проект — $160, Индивидуальная программа — $280 </p>
<br/>

<p>
    <span th:text="#{email.activation.text2}">Regards, </span>
    <br/>
    <em th:text="#{email.signature}">JHipster.</em>
</p>
</body>
</html>
